.navbar-collapse {
  justify-content: center;
  position: sticky;


}

.navbar-nav {
  gap: 40px;
  height: 50px;
  padding: 15px;

}

#link {
  text-decoration: none;
  color: #111111;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-size: 20px;
  background-color: #ffffff;
  border: none;
  text-align: center;
}



#link:hover {
  color: #f1ae0e;
}

/* .banner {
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/4267640/images/dietary-menu-healthy-vegan-salad-vegetables-broccoli-mushrooms-spinach-quinoa-bowl-flat-lay-top-view.jpg");
  background-size: 100%;
  height: 930vx;
  position: 50% 50%;
  object-fit: cover;
  vertical-align: middle;
  float: left;

} */

/* @media (min-width: 992px) {
  .banner {
    height: 993vx;
  }
} */

.banner {
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/4267640/images/dietary-menu-healthy-vegan-salad-vegetables-broccoli-mushrooms-spinach-quinoa-bowl-flat-lay-top-view.jpg");
  background-size: cover;
  height: auto;
  position: relative;
}

@media (min-width: 992px) {
  .banner {
    height: 993vx;


  }
}

@media (max-width: 991px) {
  .banner {
    /* Define the height for medium-sized screens (adjust as needed) */
    height: 993px;
  }
}

@media (max-width:auto) {
  .banner {
    /* Define the height for smaller screens (adjust as needed */
    height: 993px;


  }

}

.lunch {
  padding: 100px;
}

#circle {
  background-color: #99e54d;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.lunch h1 {
  font-weight: bold;
  font-size: 65px;
  font-family: Montserrat, sans-serif;
  color: white;
  margin-top: 20px;
}

.lunch h2 {
  font-size: 3.75rem;
  font-weight: 700;
  color: #111111;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.lunch h3 {
  font-size: 18px;
  color: #111111;
  font-weight: 700;
  margin-top: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lunch h4 {
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
}

.lunch h5 {
  color: white;
  margin-top: 20px;
}

.lunch span {
  color: rgb(154, 197, 61);
}

.lunch button {
  color: #ffffff;
  background-color: #f1ae0e;
  margin-top: 24px;
  border-radius: 40px;
  height: 55px;
  width: 181px;
  font-weight: 700
}

#bgimg {
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/4267640/images/dietary-menu-healthy-vegan-salad-vegetables-broccoli-mushrooms-spinach-quinoa-bowl-flat-lay-top-view.jpg");
  height: 375px;
  width: 366.66px;
  color: white;
  text-align: center;

  border-radius: 50px;
  background-position: 50%;
  background-size: cover;

}

#threeimg {
  background-color: #1a1a1a;

}

.innerthree {
  padding-top: 50px;
  padding-bottom: 50px;



}

@media (min-width:992px) {
  .innerthree {

    margin-left: 30px;
    padding: 70px;


  }
}

@media (max-width:990px) {
  .innerthree {
    /* display medium screen  */
    margin-left: 20px;
    gap: 40px;
    padding: 40px;
  }
}

@media (max-width:auto) {
  .innerthree {
    /* display small screen  */
    margin-left: 20px;
    gap: 40px;
  }
}


#threeimg h4 {
  position: relative;
  top: 50%;
}

.banner2 {
  background-color: #1a1a1a;
  width: 100%;
  color: white;
}

.innerbnr {
  padding-left: 50px;
}

.text {
  width: 100%;
  max-width: 520px;
  padding: 60px;
  margin-top: 150px;
  font-family: serif;
}

.text h4 {
  margin-top: 20px;
}

.text h5 {
  margin-top: 30px;
}

#freepik {
  color: #d99d0d;
}

#photo {
  width: 360px;
  max-width: 540px;
  height: 521px;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .col {
    flex-basis: 100%;
    max-width: 100%;
    display: block;
  }
}

#threeimg2 {
  background-color: #1a1a1a;

}

.innerthree2 {
  padding-top: 50px;
  padding-bottom: 50px;


  padding-left: 70px;


}

#pic1 {
  margin-top: 70px;
  height: 375px;
  width: 366.66px;
  border-radius: 50px;
}

.banner3 {
  background-color: #1a1a1a;
  width: 100%;
  color: white;
}

.innerbnr2 {

  height: auto;
  padding-left: 50px;
}

.text2 {
  width: 628px;
  padding: 30px;
  margin-top: 260px;
  font-family: serif;

}

#photo2 {
  width: 400vx;
  max-width: 540px;
  height: 521px;
  border-radius: 50px;
}

.text2 h4 {
  margin-top: 20px;
}

.text2 h5 {
  margin-top: 30px;
}

@media (min-width: 768px) {

  /* For tablets and larger screens */
  .innerbnr2 {



    margin-left: 70px;
    margin-right: 70px;
    padding-left: 50px;
  }



  #photo2 {
    max-width: 540px;
    height: 521px;
  }
}

.menu {
  background-color: #1a1a1a;
  height: auto;
  padding-bottom: 100px;


}

@media (max-width: 992px) {




  #menupic {
    width: 100%;
    max-width: 500px;
    /* Adjust the height and other styles as needed */
  }
}

@media (max-width: 768px) {

  #menupic {
    /* Adjust the width and height for small screens */

    max-width: 400px;
    background-size: cover;
    max-height: 400px;

  }
}

/* ... Add more media queries for other screen sizes as needed ... */

#text3 {
  margin-top: 140px;
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

#text4 {
  color: white;
  font-size: larger;
  text-align: center;
  margin-top: 20px;
}

#freepik1 {
  font-weight: 500;
  color: #d99d0d;
}

.menuimg {
  padding: 50px;
}

#menupic {
  width: 545px;
  height: 484px;
  border-radius: 50px;
  background-size: cover;
  border-radius: 50px
}

.menutxt {
  text-align: center;
  margin-top: 20px
}

.menutxt h4 {
  color: white;
  font-weight: bold;



}

.menutxt button {
  width: 177px;
  height: 57px;
  text-transform: uppercase;
  border: 0px;
  background-color: #99e54d;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px
}

.menuimg button a {
  text-decoration: none;
  color: black;

}

.menu h4 {
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}

.banner4 {
  background-color: #1a1a1a;
  width: 100%;
  height: auto;
  color: white;
  padding-bottom: 200px;
}

#innerbnr4 {
  display: flex;
  height: auto;
  margin-left: 40px;


}

@media (max-width:764px) {
  #photo3 {
    max-width: 400px;
  }
}

@media (max-width:991px) {
  #photo3 {
    max-width: 400px;
  }

  .text5 {
    width: 500px;
  }

  #innerbnr4 {
    margin-left: 5px;
  }
}

.text5 {
  width: 628px;
  padding: 40px;
  margin-top: 150px;
  font-family: serif;

}

.text5 h4 {
  margin-top: 20px;
}

.text5 h5 {
  margin-top: 30px;
}

#photo3 {
  width: 540px;
  height: 521px;
  border-radius: 50px;
  /* margin-right: 100px; */
}

.banner10 {
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/4267640/images/dietary-menu-healthy-vegan-salad-vegetables-broccoli-mushrooms-spinach-quinoa-bowl-flat-lay-top-view.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

@media (min-width: 992px) {
  .banner10 {
    height: 100vh;
  }
}

@media (max-width: 991px) {
  .banner10 {
    height: 100vh;
  }
}

@media (max-width: 576px) {
  .banner10 {
    height: auto;
  }


  .txt {
    padding: 40px;
    /* Adjust padding for smaller screens */
    margin-left: 0;
    /* Center align the content horizontally */
    text-align: center;
  }

  .txt h1 {
    margin-top: 40px;
    /* Adjust margin for smaller screens */
  }

  .txt h4 {
    margin-top: 25px;
    /* Adjust margin for smaller screens */
  }

  .input {
    width: 80%;
    /* Adjust input width for smaller screens */
    max-width: 300px;
    /* Set a maximum width for input */
    margin-top: 20px;
    /* Adjust margin for smaller screens */
  }

  .txt button {
    width: 80%;
    /* Adjust button width for smaller screens */
    max-width: 200px;
    /* Set a maximum width for the button */
    margin: 20px auto 0;
    /* Center align the button horizontally */
  }
}

.banner10 circle {
  background-color: #99e54d;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  display: flex;
  /* Center align content */
  justify-content: center;
  align-items: center;
}

.banner10 h2 {
  font-size: 3.75rem;
  font-weight: 700;
  color: #111111;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner h3 {
  font-size: 18px;
  color: #111111;
  font-weight: 700;
  margin-top: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.txt {
  padding: 70px;
  margin-left: 40px;


}

.txt h1 {
  margin-top: 80px;
  color: white;
}

.txt h4 {
  margin-top: 35px;
  color: white;
}

.input {
  width: 512px;
  height: 50px;
  border-radius: 40px;
  margin-top: 40px;
}

.txt button {
  height: 50px;
  width: 123px;
  margin-left: 20px;
  text-transform: uppercase;
  border-radius: 40px;
  background-color: #99e54d;
  font-size: 17px;
}

/* -----------hero address----------- */
.address {
  background-color: #1a1a1a;
  padding: 40px;
  height: auto;
}

.inadd {
  display: flex;
  justify-content: center;
  /* Center the content horizontally */
  gap: 20px;
  /* Add spacing between the sections */

}

/* Media Query for larger screens */


.div1 {
  width: 360px;
  height: 290px;
  padding: 20px;
  text-align: center;
  color: white;
}

#icon1 {
  height: 41px;
  width: 41px;
}

.msg {
  background-color: #99e54d;
  height: 67px;
  width: 67px;
  border-radius: 50%;
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* Center the message circle */

}

.div1 h5 {
  margin-top: 20px;
  font-size: 18px;
}

.div1 a {
  text-decoration: none;
  color: #d99d0d;
  font-size: 18px;
  font-weight: bold;

}

.div2 {
  width: 360px;
  height: 290px;
  padding: 20px;
  text-align: center;
  margin-left: 50px;
  color: white;
}

.div2 h5 {
  margin-top: 20px;
  font-size: 18px;
}

.div2 a {
  text-decoration: none;
  color: #d99d0d;
  font-size: 18px;
  font-weight: bold;

}

.div3 {
  width: 360px;
  height: 290px;
  padding: 20px;
  text-align: center;
  margin-left: 50px;
  color: white;
}

.div3 h5 {
  margin-top: 20px;
  font-size: 18px;
}

.div3 a {
  text-decoration: none;
  color: #d99d0d;
  font-size: 18px;
  font-weight: bold;

}

.footer1 {
  height: 110px;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 50px;
}

.footer2 {
  height: 110px;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 50px;
}

.footer2 a {
  color: white;
}

.land {
  padding: 120px;
  display: flex;
  margin-left: 60px;
  gap: 30px;
}

.l-banner {
  background-color: #99e54d;
  width: 556px;
  height: 587px;
  border-radius: 30px;
  color: white;



}

#logo {
  height: 220px;
  width: 220px;
  text-align: center;
  background-color: #111111;
  border-radius: 50%;
  color: white;

  padding: 40px;
  justify-content: center;
  margin-top: calc(-10px);

}

#logo h1 {
  font-size: 60px;
}

.l-banner h1 {
  font-size: 60px;
  font-weight: bold;
}

.txtbox {
  margin-bottom: 40px;
  display: block;
  margin-left: 30px;
}

.txtbox button {
  border-radius: 30px;
  width: 150px;
  height: 50px;
  background-color: #111111;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

.ibox {
  margin-top: calc(-20px);


}

.ibox-text {

  margin-top: 160px;
  margin-right: 140px;
  margin-left: 30px;


}

.l-banner2 {

  width: 556px;
  height: 587px;


}

.l-img {
  width: 556px;
  height: 587px;
  border-radius: 30px;
}

.landmenu {
  background-color: #ffffff !important
}

.numbupdate {
  width: 100%;
  height: 415px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 90px;
  font-size: 40px;
  color: #99e54d;
  font-weight: bold;

}

.numbupdate h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

.numbupdate h5 {
  font-weight: normal;
  color: white;
  margin-bottom: 30px;
}

.phoneimg {
  width: 50px;
  height: 50px;


}

.cardimg {
  padding: 90px;
  gap: 30px;

}

.c-img {
  height: 587px;
  width: 556px;
  border-radius: 40px;
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/4267640/images/dietary-menu-healthy-vegan-salad-vegetables-broccoli-mushrooms-spinach-quinoa-bowl-flat-lay-top-view.jpg");
  background-position: 50% 60%;
  background-size: cover;

}

.cardtext {
  background-color: #99e54d;
  border-radius: 40px;
  height: 587px;
  width: 556px;
  text-align: center;
  padding: 80px;
}

.cardtext h1 {
  font-weight: bold;
  font-size: 50px;
  color: #111111;
  margin-top: 20px;
}

.cardtext h5 {
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  color: #111111;

}

.cardtext h4 {
  margin-top: 30px;
  font-size: 20px;
  color: #111111;
  font-weight: normal;

}

.cardtext button {
  height: 55px;
  width: 181px;
  border-radius: 40px;
  border: 0;
  background-color: #111111;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.cardimg2 {
  gap: 30px;
}

.cardtext2 {
  background-color: #000000;

  border-radius: 40px;
  height: 587px;
  width: 556px;
  text-align: center;
  padding: 80px;
}

.cardtext2 h5 {
  margin-top: 60px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff
}

.cardtext2 h1 {
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
  margin-top: 20px;
}

.cardtext2 h4 {
  margin-top: 30px;
  font-size: 20px;
  color: #ffffff;
  font-weight: normal;

}

.cardtext2 button {
  height: 55px;
  width: 181px;
  border-radius: 40px;
  border: 0;
  background-color: #99e54d;
  color: #111111;
  font-weight: bold;
  margin-top: 20px;
}

/* ------------------Blog----------------- */

.blog {
  padding: 100px;
  text-align: center;
}

.blog h1 {
  color: #000000;
  font-weight: bold;
  font-size: 50px;
}

.blog h5 {
  font-weight: 400;
  margin-top: 20px;
}

.blogcard {
  margin-top: 60px;
  margin-left: 50px;
  width: 400px;
  height: 400px;
  padding: 10px;
  display: inline-flex;


}

.blogcard h6 {
  text-align: left;
  color: #4756c9;
  font-weight: 400;
}

#title {
  font-weight: bold;
}

#b-text {
  font-weight: 500px;
}

.blogcard button {
  width: 161px;
  height: 59px;
  border-radius: 40px;
  background-color: #99e54d;
  border: 0px;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.subupdate {
  background-color: #99e54d;
  height: 360px;
  text-align: center;
  padding: 80px;
}

.subupdate h1 {
  font-size: 50px;
  color: #000000;

  font-weight: bold;
}

.subupdate h5 {
  margin-top: 20px;
  color: #000000;
  font-weight: 400;
}

.inputbox {
  margin: 20px;
  gap: 20px;
}

.subupdate input {
  width: 307px;
  height: 45px;
  border-radius: 40px;
  border: white;
  padding: 20px;
  margin: 10px;
}

.subupdate button {
  width: 120px;
  height: 45px;
  border-radius: 40px;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 10px
}

.l-banner3 {
  padding: 90px;
  gap: 30px;

}

.g-box {
  background-color: #99e54d;
  height: 587px;
  width: 556px;
  border-radius: 40px;
  padding: 20px;
}

.h-box {
  background-color: #ffffff;
  height: 587px;
  width: 556px;
  border-radius: 40px;
  color: #000000;
  padding: 30px;

}

.msg1 {
  height: 67px;
  width: 67px;
  background-color: #000000;

  border-radius: 50px;
  padding: 13px;
  align-items: center;
}

.m-div {
  display: flex;
  width: auto;
  height: 150px;
  gap: 30px;
  margin-top: 40px;
}

.m-div a {
  text-decoration: none;
  color: #99e54d;
  font-size: 20px;
  font-weight: bold;

}

.about {

  padding: 120px;
  display: flex;
  margin-left: 70px;
  gap: 30px;
}

.about-text {
  width: 540px;
  height: 521px;

  color: #000000;
  padding: 40px;
}

.about-text h1 {

  margin-bottom: 24px;
  font-weight: bold;
}

.about-text h5 {
  margin-bottom: 20px;
}

.about-text button {
  width: 159px;
  height: 57px;
  margin-top: 30px;
  border-radius: 50px;
  background-color: #f1ae0e;
  color: #ffffff;
  padding: 14px 32px 14px 31px;
  border: 0px;
  text-transform: uppercase;
  font-size: 17px;
}

.about-img {
  width: 540px;
  height: 521px;
  border-radius: 40px;
}

.abt-banner {
  background-color: #f1ae0e;
  height: 561px;
  padding: 75px;
}

.abt-inn {
  background-color: #ffffff;
  height: 411px;
  border-radius: 50px;
  text-align: center;


}

.abt-text {
  padding: 30px 180px;
  color: #000000;
}

.abt-text h1 {
  font-size: 320%;
  margin-bottom: 20px;
}

.abt-text button {
  width: 169px;
  height: 57px;
  margin-top: 20px;
  border-radius: 50px;
  background-color: #99e54d;
  color: #000000;
  padding: 14px 32px 14px 31px;
  border: 0px;
  text-transform: uppercase;
  font-size: 17px;
}

.abt-salad {
  padding: 90px;
  gap: 30px;
}

.salad-img {
  border-radius: 40px;
}